body {
  background: #dddddd;
  margin: 24px;
}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: #fff;
}

.timer_minutes {
  font-size: 36px;
  font-weight: bold;
}

.timer_seconds {
  font-size: 36px;
  font-weight: bold;
}

.timer_comma {
  font-size: 36px;
  font-weight: bold;
}

.button {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background: cyan;
  cursor: pointer;
}

#button_play {
  background: #00ff00;
}

#button_stop {
  background: red;
}
